
<launch>
  <arg name="output" default="log"/>
  <arg name="publish_clock" default="false"/>
  <arg name="is_vulkan" default="true"/>
  <arg name="host" default="localhost" />

  
  <!-- Drone1 -->
  <node name="airsim_node_odom" pkg="airsim_ros_pkgs" type="airsim_node_odom" output="$(arg output)">
    <param name="is_vulkan" type="bool" value="true" />
    <param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" />
    <param name="update_airsim_control_every_n_sec" type="double" value="0.05" /> 
    <param name="publish_clock" type="bool" value="$(arg publish_clock)" />
    <param name="host_ip" type="string" value="$(arg host)" />
    <param name="drone_name" type="string" value="Drone1" />
  </node>

  <!-- <node name="airsim_node_odom_drone2" pkg="airsim_ros_pkgs" type="airsim_node_odom" output="$(arg output)">
    <param name="is_vulkan" type="bool" value="true" />
    <param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" />
    <param name="update_airsim_control_every_n_sec" type="double" value="0.05" /> 
    <param name="publish_clock" type="bool" value="$(arg publish_clock)" />
    <param name="host_ip" type="string" value="$(arg host)" />
    <param name="drone_name" type="string" value="Drone2" />
  </node>

  <node name="airsim_node_odom_drone3" pkg="airsim_ros_pkgs" type="airsim_node_odom" output="$(arg output)">
    <param name="is_vulkan" type="bool" value="true" />
    <param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" />
    <param name="update_airsim_control_every_n_sec" type="double" value="0.05" /> 
    <param name="publish_clock" type="bool" value="$(arg publish_clock)" />
    <param name="host_ip" type="string" value="$(arg host)" />
    <param name="drone_name" type="string" value="Drone3" />
  </node>

  <node name="airsim_node_odom_drone4" pkg="airsim_ros_pkgs" type="airsim_node_odom" output="$(arg output)">
    <param name="is_vulkan" type="bool" value="true" />
    <param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" />
    <param name="update_airsim_control_every_n_sec" type="double" value="0.05" /> 
    <param name="publish_clock" type="bool" value="$(arg publish_clock)" />
    <param name="host_ip" type="string" value="$(arg host)" />
    <param name="drone_name" type="string" value="Drone4" />
  </node>

  <node name="airsim_node_odom_drone5" pkg="airsim_ros_pkgs" type="airsim_node_odom" output="$(arg output)">
    <param name="is_vulkan" type="bool" value="true" />
    <param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" />
    <param name="update_airsim_control_every_n_sec" type="double" value="0.05" /> 
    <param name="publish_clock" type="bool" value="$(arg publish_clock)" />
    <param name="host_ip" type="string" value="$(arg host)" />
    <param name="drone_name" type="string" value="Drone5" />
  </node>

  <node name="airsim_node_odom_drone6" pkg="airsim_ros_pkgs" type="airsim_node_odom" output="$(arg output)">
    <param name="is_vulkan" type="bool" value="true" />
    <param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" />
    <param name="update_airsim_control_every_n_sec" type="double" value="0.05" /> 
    <param name="publish_clock" type="bool" value="$(arg publish_clock)" />
    <param name="host_ip" type="string" value="$(arg host)" />
    <param name="drone_name" type="string" value="Drone6" />
  </node>

  <node name="airsim_node_odom_drone7" pkg="airsim_ros_pkgs" type="airsim_node_odom" output="$(arg output)">
    <param name="is_vulkan" type="bool" value="true" />
    <param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" />
    <param name="update_airsim_control_every_n_sec" type="double" value="0.05" /> 
    <param name="publish_clock" type="bool" value="$(arg publish_clock)" />
    <param name="host_ip" type="string" value="$(arg host)" />
    <param name="drone_name" type="string" value="Drone7" />
  </node>

  <node name="airsim_node_odom_drone8" pkg="airsim_ros_pkgs" type="airsim_node_odom" output="$(arg output)">
    <param name="is_vulkan" type="bool" value="true" />
    <param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" />
    <param name="update_airsim_control_every_n_sec" type="double" value="0.05" /> 
    <param name="publish_clock" type="bool" value="$(arg publish_clock)" />
    <param name="host_ip" type="string" value="$(arg host)" />
    <param name="drone_name" type="string" value="Drone8" />
  </node>

  <node name="airsim_node_odom_drone9" pkg="airsim_ros_pkgs" type="airsim_node_odom" output="$(arg output)">
    <param name="is_vulkan" type="bool" value="true" />
    <param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" />
    <param name="update_airsim_control_every_n_sec" type="double" value="0.05" /> 
    <param name="publish_clock" type="bool" value="$(arg publish_clock)" />
    <param name="host_ip" type="string" value="$(arg host)" />
    <param name="drone_name" type="string" value="Drone9" />
  </node>

  <node name="airsim_node_odom_drone10" pkg="airsim_ros_pkgs" type="airsim_node_odom" output="$(arg output)">
    <param name="is_vulkan" type="bool" value="true" />
    <param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" />
    <param name="update_airsim_control_every_n_sec" type="double" value="0.05" /> 
    <param name="publish_clock" type="bool" value="$(arg publish_clock)" />
    <param name="host_ip" type="string" value="$(arg host)" />
    <param name="drone_name" type="string" value="Drone10" />
  </node>


  
  <node name="airsim_node_odom_drone11" pkg="airsim_ros_pkgs" type="airsim_node_odom" output="$(arg output)">
    <param name="is_vulkan" type="bool" value="true" />
    <param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" />
    <param name="update_airsim_control_every_n_sec" type="double" value="0.05" />
    <param name="publish_clock" type="bool" value="$(arg publish_clock)" />
    <param name="host_ip" type="string" value="$(arg host)" />
    <param name="drone_name" type="string" value="Drone11" />
  </node>  

  <node name="airsim_node_odom_drone12" pkg="airsim_ros_pkgs" type="airsim_node_odom" output="$(arg output)">
    <param name="is_vulkan" type="bool" value="true" />
    <param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" />
    <param name="update_airsim_control_every_n_sec" type="double" value="0.05" />
    <param name="publish_clock" type="bool" value="$(arg publish_clock)" />
    <param name="host_ip" type="string" value="$(arg host)" />
    <param name="drone_name" type="string" value="Drone12" />
  </node>  

  <node name="airsim_node_odom_drone13" pkg="airsim_ros_pkgs" type="airsim_node_odom" output="$(arg output)">
    <param name="is_vulkan" type="bool" value="true" />
    <param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" />
    <param name="update_airsim_control_every_n_sec" type="double" value="0.05" />
    <param name="publish_clock" type="bool" value="$(arg publish_clock)" />
    <param name="host_ip" type="string" value="$(arg host)" />
    <param name="drone_name" type="string" value="Drone13" />
  </node>  

  <node name="airsim_node_odom_drone14" pkg="airsim_ros_pkgs" type="airsim_node_odom" output="$(arg output)">
    <param name="is_vulkan" type="bool" value="true" />
    <param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" />
    <param name="update_airsim_control_every_n_sec" type="double" value="0.05" />
    <param name="publish_clock" type="bool" value="$(arg publish_clock)" />
    <param name="host_ip" type="string" value="$(arg host)" />
    <param name="drone_name" type="string" value="Drone14" />
  </node>  

  <node name="airsim_node_odom_drone15" pkg="airsim_ros_pkgs" type="airsim_node_odom" output="$(arg output)">
    <param name="is_vulkan" type="bool" value="true" />
    <param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" />
    <param name="update_airsim_control_every_n_sec" type="double" value="0.05" />
    <param name="publish_clock" type="bool" value="$(arg publish_clock)" />
    <param name="host_ip" type="string" value="$(arg host)" />
    <param name="drone_name" type="string" value="Drone15" />
  </node>  

  <node name="airsim_node_odom_drone16" pkg="airsim_ros_pkgs" type="airsim_node_odom" output="$(arg output)">
    <param name="is_vulkan" type="bool" value="true" />
    <param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" />
    <param name="update_airsim_control_every_n_sec" type="double" value="0.05" />
    <param name="publish_clock" type="bool" value="$(arg publish_clock)" />
    <param name="host_ip" type="string" value="$(arg host)" />
    <param name="drone_name" type="string" value="Drone16" />
  </node>  

  <node name="airsim_node_odom_drone17" pkg="airsim_ros_pkgs" type="airsim_node_odom" output="$(arg output)">
    <param name="is_vulkan" type="bool" value="true" />
    <param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" />
    <param name="update_airsim_control_every_n_sec" type="double" value="0.05" />
    <param name="publish_clock" type="bool" value="$(arg publish_clock)" />
    <param name="host_ip" type="string" value="$(arg host)" />
    <param name="drone_name" type="string" value="Drone17" />
  </node>  

  <node name="airsim_node_odom_drone18" pkg="airsim_ros_pkgs" type="airsim_node_odom" output="$(arg output)">
    <param name="is_vulkan" type="bool" value="true" />
    <param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" />
    <param name="update_airsim_control_every_n_sec" type="double" value="0.05" />
    <param name="publish_clock" type="bool" value="$(arg publish_clock)" />
    <param name="host_ip" type="string" value="$(arg host)" />
    <param name="drone_name" type="string" value="Drone18" />
  </node>  

  <node name="airsim_node_odom_drone19" pkg="airsim_ros_pkgs" type="airsim_node_odom" output="$(arg output)">
    <param name="is_vulkan" type="bool" value="true" />
    <param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" />
    <param name="update_airsim_control_every_n_sec" type="double" value="0.05" />
    <param name="publish_clock" type="bool" value="$(arg publish_clock)" />
    <param name="host_ip" type="string" value="$(arg host)" />
    <param name="drone_name" type="string" value="Drone19" />
  </node>  

  <node name="airsim_node_odom_drone20" pkg="airsim_ros_pkgs" type="airsim_node_odom" output="$(arg output)">
    <param name="is_vulkan" type="bool" value="true" />
    <param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" />
    <param name="update_airsim_control_every_n_sec" type="double" value="0.05" />
    <param name="publish_clock" type="bool" value="$(arg publish_clock)" />
    <param name="host_ip" type="string" value="$(arg host)" />
    <param name="drone_name" type="string" value="Drone20" />
  </node>  

  <node name="airsim_node_odom_drone21" pkg="airsim_ros_pkgs" type="airsim_node_odom" output="$(arg output)">
    <param name="is_vulkan" type="bool" value="true" />
    <param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" />
    <param name="update_airsim_control_every_n_sec" type="double" value="0.05" />
    <param name="publish_clock" type="bool" value="$(arg publish_clock)" />
    <param name="host_ip" type="string" value="$(arg host)" />
    <param name="drone_name" type="string" value="Drone21" />
  </node>  

  <node name="airsim_node_odom_drone22" pkg="airsim_ros_pkgs" type="airsim_node_odom" output="$(arg output)">
    <param name="is_vulkan" type="bool" value="true" />
    <param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" />
    <param name="update_airsim_control_every_n_sec" type="double" value="0.05" />
    <param name="publish_clock" type="bool" value="$(arg publish_clock)" />
    <param name="host_ip" type="string" value="$(arg host)" />
    <param name="drone_name" type="string" value="Drone22" />
  </node>  

  <node name="airsim_node_odom_drone23" pkg="airsim_ros_pkgs" type="airsim_node_odom" output="$(arg output)">
    <param name="is_vulkan" type="bool" value="true" />
    <param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" />
    <param name="update_airsim_control_every_n_sec" type="double" value="0.05" />
    <param name="publish_clock" type="bool" value="$(arg publish_clock)" />
    <param name="host_ip" type="string" value="$(arg host)" />
    <param name="drone_name" type="string" value="Drone23" />
  </node>  

  <node name="airsim_node_odom_drone24" pkg="airsim_ros_pkgs" type="airsim_node_odom" output="$(arg output)">
    <param name="is_vulkan" type="bool" value="true" />
    <param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" />
    <param name="update_airsim_control_every_n_sec" type="double" value="0.05" />
    <param name="publish_clock" type="bool" value="$(arg publish_clock)" />
    <param name="host_ip" type="string" value="$(arg host)" />
    <param name="drone_name" type="string" value="Drone24" />
  </node>  

  <node name="airsim_node_odom_drone25" pkg="airsim_ros_pkgs" type="airsim_node_odom" output="$(arg output)">
    <param name="is_vulkan" type="bool" value="true" />
    <param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" />
    <param name="update_airsim_control_every_n_sec" type="double" value="0.05" />
    <param name="publish_clock" type="bool" value="$(arg publish_clock)" />
    <param name="host_ip" type="string" value="$(arg host)" />
    <param name="drone_name" type="string" value="Drone25" />
  </node>   -->


  <!-- Static transforms -->
  <include file="$(find airsim_ros_pkgs)/launch/static_transforms.launch"/>  
</launch>
